body {
    background-color: #f0e68c;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    font-size: 3em;
    color: #d2691e;
    margin-top: 20px}

h2 {
    font-size: 2em;
    color: #8b0000;
}

h3 {
    font-size: 1.5em;
    color: #4682b4;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin: 10px 0;
    color: #2f4f4f;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

a {
    text-decoration: none;
    font-size: 1.2em;
    color: #4169e1;
    font-weight: bold;
}

.cakestyle {
    margin: 20px auto;
    display: block;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

